body {
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
}

.logo{
  background-color: white;
  color: black;
  font-size: 1em;
}

nav{
  background-color: white;
  height: 13vh;
  top: 0;
}

.heart{
  color: white;
  background-image: url(../img/bg-home.jpg);
  background-size: cover;
  height: 90vh;
  text-align: center;
  margin-bottom: 0;
}

.heart h2{
  font-size: 1.5em;
}

.services{
  background-color: #F17C72;
  text-align: center;
  color: #fff;
  height: 80vh;
}

.imgs img{
  width: 100%;
  line-height: 1px;
}

footer{
  background-color: #494949;
  width: 100%;
  height: 10vh;
}

.img-click:hover{
  cursor: pointer;
}

.lap{
  width: 100%;
  height: 50vh;
  background-image: url(../img/hero.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.text-principal{
  font-size: .5em;
}
.text-secundario{
  font-size: .5em;
}

.tres{
  width: 50%;
  line-height: 1px;
}


@media screen and (max-width: 980px){
  .nav-wrapper{
  display: none;
  }
  .material-icons{
    color: black;
  }
}

